.gdb_history
/lava.mak
/libexec
btrace.log
includes.h.gch
tags
host.json

*.o
*.pyc
*.qcow*
*.qcow2
*.so
*~
~*
.*.sw*


/fbi/fbi
/fbi/lava-odb.*xx
/fbi/lava.sql
/fbi/panda.mak

/include/lava-odb.*xx
/include/lava-odb.*xx
/include/lava.sql

/scripts/getfns.pickle

/src_clang/build
/src_clang/lava-odb.*xx
/src_clang/lava.sql

/target_bins/*
/target_injections/*
!/target_bins/.gitkeep
!/target_injections/.gitkeep
