includes.h.gch
*.o
*.so
.*.swp
~*
*.pyc
/tags
*/tags
/libexec
*.qcow2

.gdb_history
btrace.log

/include/lava.sql
/include/lava-odb.*xx

/fbi/fbi
/fbi/panda.mak
/fbi/lava-odb.*xx
/fbi/lava.sql

/src_clang/build
/src_clang/lava-odb.*xx
/src_clang/lava.sql

/lava.mak

/target_bins/*
!/target_bins/.gitkeep

/target_injections/*
!/target_injections/.gitkeep
