# ignore IDE and any panda wheel/debian packages
.vscode
.idea
*.deb
*.whl

# this existed before
.gdb_history
/lava.mak
/libexec
btrace.log
includes.h.gch
tags
host.json

*.o
*.a
*.pyc
*.qcow*
*.qcow2
*.so
*~
~*
.*.sw*

tools/lavaODB/generated
tools/install
tools/build
tools/include/lava_version.h

panda/build

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

/scripts/getfns.pickle


/target_bins/*
/target_injections/*
!/target_bins/.gitkeep
!/target_injections/.gitkeep
