name: LAVA Tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

# Automatically cancel any previous workflow on new push.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  test_debian_package:
    if: github.repository == 'panda-re/lava'
    runs-on: ubuntu-22.04
    env:
      DEBIAN_FRONTEND: noninteractive
    steps:  
      - name: Checkout LAVA at current commit
        uses: actions/checkout@v5
      
      - name: Install compile dependencies
        run: |
          version=$(lsb_release -rs)
          dep_base=./dependencies/ubuntu_${version}_base.txt
          sudo apt-get -qq update
          if [ -f "${dep_base}" ]; then
            sudo apt-get -y install --no-install-recommends $(cat ${dep_base} | grep -o '^[^#]*')
          else
            echo "Unsupported Ubuntu version: $version. Create a list of base/build dependencies and try again."
            exit 1
          fi

      - name: Create Debian Package
        run: |
          cmake -B"./tools/build" \
          -H"./tools" \
          -DCMAKE_INSTALL_PREFIX="/usr" \
          -DCMAKE_BUILD_TYPE=Release
          cmake --build "./tools/build" --parallel "$(nproc)" --config Release
          cd ./tools/build
          cpack -G DEB
          sudo apt-get install ./lava*.deb
          # Force the cache to update NOW so we don't rely on the background trigger timing
          sudo ldconfig
          if ldconfig -p | grep -q "libsw-btrace.so"; then
            echo "[DEBIAN INSTALL] Lava Debian package installed successfully"
          else
            echo "[DEBIAN INSTALL] Error: libsw-btrace.so not found in ldconfig cache"
            echo "[DEBIAN INSTALL] Checking if the file exists on disk at least..."
            find /usr/lib -name "libsw-btrace.so"
            exit 1
          fi

      - name: Create Wheel file
        run: |
          cd python
          python3 -m pip install --upgrade build
          python3 -m build --wheel .

  test_install_script:
    if: github.repository == 'panda-re/lava'
    runs-on: ubuntu-22.04
    env:
      PYTHONUNBUFFERED: "1"
      DEBIAN_FRONTEND: noninteractive
      USER: ${{ github.actor }}
      # https://docs.github.com/en/actions/use-cases-and-examples/using-containerized-services/creating-postgresql-service-containers
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgrespostgres
          POSTGRES_DB: toy_${{ env.USER }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U ${POSTGRES_USER}"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Manually download Qcow
      run: |
        mkdir -p $HOME/.panda
        wget --show-progress --quiet --tries=5 --wait=10 https://panda-re.mit.edu/qcows/linux/ubuntu/1804/x86_64/bionic-server-cloudimg-amd64-noaslr-nokaslr.qcow2 -O $HOME/.panda/bionic-server-cloudimg-amd64-noaslr-nokaslr.qcow2
    - name: Update and install all requirements
      run: |
        bash install.sh
        cd python
        python3 -m pip install --upgrade pip
        python3 -m pip install .
    - name: Setup LAVA
      run: |
        chmod +x ./scripts/*
        lava-init -a
    - name: Add Postgres credentials and Run LAVA
      run: |
        echo "localhost:5432:*:${POSTGRES_USER}:${POSTGRES_PASSWORD}" > ~/.pgpass
        chmod 600 ~/.pgpass
        lava -ak toy
      env:
        USER: ${{ github.actor }}
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgrespostgres

  build_container:
    if: github.repository == 'panda-re/lava'
    runs-on: ubuntu-22.04
    env:
      DEBIAN_FRONTEND: noninteractive
    steps:
      - name: 'Login to Docker Registry'
        uses: docker/login-action@v3
        with:
          username: pandare
          password: ${{secrets.ALL_PANDARE_DOCKERHUB}}
    
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:master
            network=host
          buildkitd-config-inline: |
            [registry."${{ secrets.PANDA_ARC_REGISTRY }}"]
              insecure = true
              http = true

      - name: Check out
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ github.workspace }}
          push: true
          tags: |
            pandare/lava:latest
